@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

.navlink {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #373737;
    position: relative;
}

.navlink::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 50%;
    background-color: #FF5300;
    transform: translate(50%);
    transition: all 0.3s linear;
}

.navlink:hover::after {
    left: -50%;
    width: 100%;
}

.navlink:hover {
    color: #FF5300;
}

.mt-24 {
    margin-top: 24px;
}

.mt-100 {
    margin-top: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.menu {
    z-index: 10;
}

.logo {
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    text-align: left;
    color: #FF5300;
}

.logo1 {
    color: #373737;
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    text-align: left;
}

.talk {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #373737;
    width: 135px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #373737;
    background-color: #FFF7F4;
}

.talk:hover {
    border: 1px solid #FF5300;
    color: #FF5300;
}

.bgclr {
    background-color: #FFF7F4;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 34.83px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
    color: #373737;
}

.txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 20px;
    color: #7B7B7B;
}

.sec1-btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: white;
    width: 182px;
    background-color: #FF5300;
    border: none;
    height: 50px;
    border-radius: 5px;
    margin-top: 30px;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}

.sec1-btn:hover {
    background-color: white;
    color: #FF5300;
    border: 2px solid #FF5300;
}

.line1 {
    width: 40px;
    border: 1px solid #FF5300;
}

.sec2-head {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FF5300;
    margin-left: 10px;
    margin-right: 10px;
}

.sec2-txt {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: center;
    color: #373737;
}

.num {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 73.2px;
    text-align: left;
    color: #EFEFEF;
}

.design {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: #373737;
    margin-top: 15px;
}

.web {
    font-family: "Poppins", sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    line-height: 19.2px;
    text-align: left;
    color: #7B7B7B;
}

.lorem {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
    margin-top: 15px;
}

.parentbox {
    box-shadow: 0px 1px 4px 0px #0000001A;
    padding: 20px;
    border-radius: 10px;
}

.pb-100 {
    padding-bottom: 100px;
}

.sec3-head {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: #373737;
    max-width: 491px;
}

.sec3-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
    margin-top: 24px;
}

.list-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #373737;
}

.sec4-head {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: center;
    color: #373737;
}

.gap-70 {
    gap: 70px;
}

.newlink {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #7B7B7B;
    padding: 15px;
}

.newlink:hover {
    border-radius: 10px;
    background-color: #FF5300;
    color: white;
    width: 100%;
}

.mt-30 {
    margin-top: 30px;
}

.orange-box {
    width: 80%;
    height: 80%;
    position: absolute;
    background: #FF5300BF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s linear;
    z-index: 1;
}

.template {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.effect:hover .orange-box {
    top: 50%;
}

.sec5-head {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: center;
    margin-top: 15px;
}

.childslick {
    width: 370px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 1px 4px 0px #0000001A;
}

.slick-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
}

.levin {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #FF5300;
}

.ceo {
    font-family: "Poppins", sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    line-height: 19.2px;
    text-align: left;
    color: #7B7B7B;
}

.ml-24 {
    margin-left: 24px;
}


.slick-slide {
    padding: 10px;
    text-align: center;
}

.prev {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #373737;
    position: absolute;
    top: 70%;
    left: -3%;
}

.next {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #373737;
    position: absolute;
    top: 70%;
    right: -3%;
}

.prev:hover svg path {
    fill: #FF5300;
}

.prev:hover {
    border: 1px solid #FF5300;
}

.next:hover svg path {
    fill: #FF5300;
}

.next:hover {
    border: 1px solid #FF5300;
}

.sec6-head {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: #373737;
    margin-top: 15px;
}

.sec6-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
    margin-top: 18px;
}

.box {
    box-shadow: 0px 1px 4px 0px #0000001A;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 100%;
}

.box-head {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: center;
    color: #FF5300;
}

.box-txt {
    font-family: "Poppins", sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    line-height: 19.2px;
    text-align: center;
    color: #373737;
}

.mt-40 {
    margin-top: 40px;
}

.line2 {
    width: 4px;
    height: 134px;
    border-radius: 4px;
    background-color: white;
    display: flex;
}

.gap-90 {
    gap: 90px;
}

.mt-15 {
    margin-top: 15px;
}

.newbox {
    max-width: 1171px;
    width: 100%;
    border-radius: 10px;
    background-color: #FF5300;
    padding: 20px;
    margin-top: 120px;
}

.col-head {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
}

.col-txt {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.sec7-head {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: center;
    color: #373737;
    margin-top: 15px;
}

.graphic {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #373737;
}

.only-txt {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
    margin-top: 18px;
}

.mt-60 {
    margin-top: 60px;
}

.read {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    line-height: 24.72px;
    width: 150px;
    height: 50px;
    background-color: #FF5300;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 25px;
}

.read:hover {
    border: 2px solid #FF5300;
    background-color: white;
    color: #FF5300;
}

.shadowbox {
    box-shadow: 0px 1px 4px 0px #0000001A;
    padding-top: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    padding-left: 13px;
    background-color: white;
    padding-right: 13px;
    height: 100%;
}

.shadowbox:hover {
    box-shadow: 0px 1px 4px 0px #FF5300;
}

.line3 {
    width: 40px;
    border: 1px solid white;
}

.sec8-head {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.sec8-txt {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: white;
    margin-top: 15px;
}

.sec8-box {
    background-color: #FF5300;
    box-shadow: 0px 1px 4px 0px #0000001A;
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
    padding: 25px;
}

.box-border {
    width: 100%;
    /* height: 70px;
    padding: 10px; */
    border-radius: 5px;
    gap: 30px;
    background-color: white;
}

.gap-27 {
    gap: 27px;
}

.email {
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}

.now-btn {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    margin: 5px;
    background-color: #FF5300;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: white;
    border: none;
}

.bg-img {
    background-image: url(../images/footer-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.col3-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
    margin-top: 14px;
}

.footer-head {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: #FF5300;
}

.footer-txt {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: white;
    margin-top: 20px !important;
}

.footer-txt1 {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: white;
    margin-top: 10px !important;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pt-66 {
    padding-top: 66px;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 65px;
}

.copy {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 24.1px;
    text-align: left;
    color: white;
}

.privacy {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
}

.gap-100 {
    gap: 100px;
}

.top-arrow {
    width: 58px;
    height: 58px;
    background-color: #FF5300;
    display: none;
    position: fixed;
    bottom: 5%;
    right: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}


.prev,
.next {
    display: none !important;
}

.mt-14 {
    margin-top: 14px;
}

.line2 {
    display: none;
}

.w-1140px {
    width: 1140px;
}

.date {
    font-family: "Work Sans", sans-serif;
    font-size: 10.24px;
    /* line-height: 19.2px; */
    text-align: left;
}

.cris {
    font-family: "Work Sans", sans-serif;
    font-size: 10.24px;
    /* line-height: 19.2px; */
    text-align: left;
}

.cmnt {
    font-family: "Work Sans", sans-serif;
    font-size: 10.24px;
    /* line-height: 19.2px; */
    text-align: left;
}

@media (max-width: 992px) {
    .lg-view {
        position: fixed;
        width: 100%;
        height: 108vh;
        top: 0;
        left: -150%;
        background-color: #FFF7F4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        transition: 0.5s;
        gap: 20px;
    }

    .nav-icon {
        z-index: 4;
    }

    .show {
        left: 0%;
    }

}

@media (min-width:768px) {}

@media (min-width:992px) {
    .nav-icon {
        display: none;
    }

    .line2 {
        display: flex;
    }

    .align-items-center-lg {
        align-items: center;
    }

    .heading {
        font-size: 48.83px;
        margin-top: 100px;
    }

    .gap-lg-100 {
        gap: 100px !important;
    }
}

@media (min-width:1200px) {
    .overflow-x-scroll {
        overflow-x: visible !important;
    }

    .prev,
    .next {
        display: flex !important;
    }
}