@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

.navlink {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #373737;
}

.navlink:hover {
    color: #FF5300;
}

.mt-24 {
    margin-top: 24px;
}

.mt-100 {
    margin-top: 100px;
}

.pt-100 {
    padding-top: 100px;
}


.logo {
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    text-align: left;
    color: #FF5300;
}

.logo1 {
    color: #373737;
    font-family: "Work Sans", sans-serif;
    font-size: 39.06px;
    line-height: 45.77px;
    text-align: left;
}

.talk {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #373737;
    width: 135px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #373737;
    background-color: #FFF7F4;
}

.bgclr {
    background-color: #FFF7F4;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 48.83px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
    color: #373737;
    margin-top: 100px;
}

.txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 20px;
    color: #7B7B7B;
}

.sec1-btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: white;
    width: 182px;
    background-color: #FF5300;
    border: none;
    height: 50px;
    border-radius: 5px;
    margin-top: 30px;
}

.line1 {
    width: 40px;
    border: 1px solid #FF5300;
}

.sec2-head {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FF5300;
    margin-left: 10px;
    margin-right: 10px;
}

.sec2-txt {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: center;
    color: #373737;
}

.num {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 73.2px;
    text-align: left;
    color: #EFEFEF;
}

.design {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color: #373737;
    margin-top: 15px;
}

.web {
    font-family: "Poppins", sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    line-height: 19.2px;
    text-align: left;
    color: #7B7B7B;
}

.lorem {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
    margin-top: 15px;
}

.parentbox {
    box-shadow: 0px 1px 4px 0px #0000001A;
    padding: 20px;
    border-radius: 10px;
}

.pb-100 {
    padding-bottom: 100px;
}

.sec3-head {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: #373737;
    max-width: 491px;
}

.sec3-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7B7B7B;
    margin-top: 24px;
}

.list-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #373737;
}

.sec4-head {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: center;
    color: #373737;
}

.gap-70 {
    gap: 70px;
}

.newlink {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #7B7B7B;
    padding: 15px;
}

.newlink:hover {
    border-radius: 10px;
    background-color: #FF5300;
    color: white;
    width: 100%;
}

.mt-30 {
    margin-top: 30px;
}

.orange-box {
    width: 266px;
    height: 230px;
    position: absolute;
    background: #FF5300BF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: -100%;
}

.template {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: center;
    color: white;
    margin-top: 15px;
}

.effect:hover .orange-box {
    top: 20%;
    left: 17%;
}